<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head layout:fragment="head">
		<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Threads Management</title>
		
        <!-- Core CSS - Include with every page -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="../../../resources/custom/css/fixedtable.css" th:href="@{/resources/custom/css/fixedtable.css}">
        <link href="../../../resources/sb-admin-v2/css/bootstrap.min.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/bootstrap.min.css}"/>
        <link href="../../../resources/sb-admin-v2/font-awesome/css/font-awesome.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/font-awesome/css/font-awesome.css}"/>
        <link href="../../../resources/sb-admin-v2/css/bootstrap-switch.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/bootstrap-switch.css}"/>
        <link href="../../../resources/sb-admin-v2/css/metisMenu.min.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/metisMenu.min.css}"/>

        <!-- Page-Level Plugin CSS - Dashboard -->
        <link href="../../../resources/sb-admin-v2/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/plugins/morris/morris-0.4.3.min.css}"/>
        <link href="../../resources/sb-admin-v2/css/plugins/timeline/timeline.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/plugins/timeline/timeline.css}"/>

        <!-- SB Admin CSS - Include with every page -->
        <link href="../../../resources/sb-admin-v2/css/sb-admin.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/sb-admin.css}"/>
		<link rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAATCAYAAACQjC21AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOxJREFUeNqsU8ENgzAMjGgHyAgZgWefHSEjZJSM0E6QEWgniDoB3/7CBoxATeVKlmWTVGDphHLEh33YxujhAFbgLb77KwJgQYQGvhozSVywIse4WUo8K4K81WvDnW90iuDU0MVU86wARkAP8Ky9HkE5j9yIuUHzrCC3JkR8GoUrkqfc7IWJGFKhYeI8z3WKF44YPzJYdkf0NQmerZGFKjKpmvKJj0DCy1FJkD4YMSdpY0Rj2BAc9qyehqbV6xXfNGTh72+OQSu8JJh3CObaLh8Sh7R8IoJvnKULm/wH4Al44dmymbsB7r/DR4ABAMC8mgcFzLfNAAAAAElFTkSuQmCC" />
    </head>
    <body>
         <div layout:fragment="extra">
             <p>Extra Content Fragment </p>             
         </div>

		<div layout:fragment="commonScript">
			<!-- Core Scripts - Include with every page -->
	        <script src="../../resources/sb-admin-v2/js/jquery-1.10.2.js" th:src="@{/resources/sb-admin-v2/js/jquery-1.10.2.js}"></script>
	        <script src="../../resources/sb-admin-v2/js/bootstrap.min.js" th:src="@{/resources/sb-admin-v2/js/bootstrap.min.js}"></script>
	        <script src="../../resources/sb-admin-v2/js/bootstrap-switch.js" th:src="@{/resources/sb-admin-v2/js/bootstrap-switch.js}"></script>
	        <script src="../../resources/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/resources/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	
	        <!-- Page-Level Plugin Scripts - Dashboard -->
	        <script src="../../resources/sb-admin-v2/js/plugins/morris/raphael-2.1.0.min.js" th:src="@{/resources/sb-admin-v2/js/plugins/morris/raphael-2.1.0.min.js}"></script>
	        <script src="../../resources/sb-admin-v2/js/plugins/morris/morris.js" th:src="@{/resources/sb-admin-v2/js/plugins/morris/morris.js}"></script>
	        <!-- Page-Level Plugin Scripts - Tables -->
	        <script src="../../resources/sb-admin-v2/js/plugins/dataTables/jquery.dataTables.js" th:src="@{/resources/sb-admin-v2/js/plugins/dataTables/jquery.dataTables.js}"></script>
	
	
	        <!-- SB Admin Scripts - Include with every page -->
	        <script src="../../resources/sb-admin-v2/js/sb-admin.js" th:src="@{/resources/sb-admin-v2/js/sb-admin.js}"></script>
			
		</div>
</body>
</html>