
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/resources/**" security="none" />
	<http pattern="/login.html*" security="none" />
	<http pattern="/index.html*" security="none" />
	<!-- <http pattern="/**" security="none" /> -->

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/utility/stop_threads.html"
			access="hasRole('ROLE_MANAGE_THREADS')" />
		<intercept-url pattern="/utility/start_threads.html"
			access="hasRole('ROLE_MANAGE_THREADS')" />
		<intercept-url pattern="/**"
			access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<form-login login-page="/login.html" login-processing-url="/j_spring_security_check"
			default-target-url="/index.html" always-use-default-target="false"
			authentication-failure-url="/login.html?error=true"
			authentication-success-handler-ref="myAuthenticationSuccessHandler" />
		<access-denied-handler error-page="/403-auth.html" />
		<logout logout-url="/j_spring_security_logout" />
		<csrf disabled="true"/>
	</http>

	<beans:bean id="myAuthenticationSuccessHandler"
		class="vn.yotel.commons.web.security.MySimpleUrlAuthenticationSuccessHandler" />

	<beans:bean id="myPermissionEvaluator"
		class="vn.yotel.commons.web.security.MyPermissionEvaluator" />

	<beans:bean id="customAuthenticationProvider"
		class="vn.yotel.commons.web.security.CustomAuthenticationProvider"></beans:bean>

	<authentication-manager>
		<authentication-provider ref="customAuthenticationProvider" />
	</authentication-manager>

</beans:beans>
